*{
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-family: sans-serif;
    line-height: 15px;
}

header{
    height: 70px;
    background-color: white;
}

ul{
    list-style-type: none;
}

#logo{
    padding: 10px;
    vertical-align: middle;
}
#titolo{
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

.container{
    background-color: white;
    max-width: 80%;
    height: 800px;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

hr{
    border-top: 1px solid rgb(241, 241, 241);
}

.btn{
    padding: 10px;
    border-radius: 5px;
}
    
.task{
    margin: 20px 5px 10px 60px;
    background-color:rgb(0, 179, 255);
    color: white;
    border: 2px solid rgb(0, 179, 255);
}

.section {
    background-color: transparent;
    color: rgb(187, 178, 178);
    border: 2px solid currentColor;
}

details{
    margin: 30px 10px 50px 60px;
    font-weight: 500;
}

summary{
    font-size: 20px;
}

.list-item{
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
}

.list-item > *{
    vertical-align: middle;
}

.list-item::before {
    display: inline-block;
    border: 1px solid currentColor;
    font-size: 11px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align:center;
    font-weight: bold;
    margin-right: 10px;
}

.list-item.check::before{
    content: '\2714';
    color: rgb(0, 193, 0);
}

.list-item.uncheck::before{
    content: '\2718';
    color: rgb(207, 2, 2);
}

.label{
    display: inline-block;
    color: white;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 20px;
}

.editorial{
    background-color: rgb(0, 179, 255);
}

.goal{
    background-color: rgb(207, 112, 251);
}

.recruiting{
    background-color: rgba(0, 206, 148, 0.881);
}

.mobile{
    background-color: orange;
}

.web{
    background-color: palevioletred;
}

.sales{
    background-color: rgb(151, 232, 44);
}